#userfound-page-wrapper{
    display: flex;
    width: 1920px;
    height: 1200px;
    flex-direction: column;
    align-items: center;
}

.userfound-page-header{
    height: 210px;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.userfound-page-logo-box{
    width: 365px;
    height: 120px;
}

.userfound-page-logo-box:hover{
    cursor: pointer;
}

.userfound-page-logo{
    width: 100%;
    height: 100%;

    background-image: url(assets/Logo.png);
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.userfound-page-title-box{
    height: 112px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userfound-page-title{
    color: #000;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 12.5px;
}

.userfound-container{
    width: 750px;
    height: 466px;

    border-radius: 10px;
    border: 1px solid #AEAEAE;
    background: rgba(217, 217, 217, 0.00);
}

.userfound-title-box{
    width: 750px;
    height: 60px;

    display: flex;
    align-items: center;
}

.userfound-id{
    display: flex;
    width: 375px;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    

    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.userfound-id:hover{
    cursor: pointer;
    
    color: #358B43;
    border-bottom: #358B43;
    border-bottom: 1px solid;

}

.userfound-id:visited{
    border-bottom: #358B43;
    border-bottom: 1px solid;
}

.userfound-line{
    width: 1px;
    height: 30px;

    background: #AEAEAE;
}

.userfound-pw{
    display: flex;
    width: 375px;
    height: 60px;
    flex-direction: column;
    justify-content: center;

    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.userfound-pw:hover{
    cursor: pointer;
    
    color: #358B43;
    border-bottom: #358B43;
    border-bottom: 1px solid;

}

.userfound-email-found-detail-container{
    display: flex;
    width: 750px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userfound-detail-box{
    width: 690px;
    height: 204px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 63px;
    border: 1px solid #358B43;

}

.name-box{
    width: 494px;
    height: 50px;

    margin-bottom: 14px;

    border:none;
    border-bottom: 1px solid #AEAEAE;
    background: rgba(217, 217, 217, 0.00);
}

.email-box{
    width: 494px;
    height: 50px;

    border: none;
    border-bottom: 1px solid #AEAEAE;
    background: rgba(217, 217, 217, 0.00);
}

.userfound-tip{
    display: flex;
    width: 476px;
    height: 20px;
    flex-direction: column;
    justify-content: center;

    color: #AEAEAE;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.userfound-button-box{
    width: 360px;
    height: 60px;

    border-radius: 10px;
    background: #358B43;

    margin-top: 33px;

    display: flex;
    align-items: center;
}

.userfound-button{
    display: flex;
    width: 360px;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.userfound-email-result-detail-container{
    display: flex;
    width: 750px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userfound-email-success-box{
    width: 690px;
    height: 217px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 63px;
    border: 1px solid #358B43;
}

.green-text-name{
    color: #358B43;

}

.userfound-email-success-message{
    display: flex;
    width: 494px;
    height: 42px;
    justify-content: center;

    color: #000;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.userfound-email{
    display: flex;
    width: 494px;
    height: 42px;
    justify-content: center;

    color: #000;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.userfound-login-button-box{
    display: flex;
    width: 150px;
    height: 40px;
    flex-direction: column;
    justify-content: center;

    border-radius: 10px;
    background: #358B43;
    
}

.userfound-login-button{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.userfound-password-found-detail-container{
    display: flex;
    width: 750px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userfound-password-detail-box{
    width: 690px;
    height: 204px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 63px;
    border: 1px solid #358B43;

}

.userfound-password-button-box{
    width: 360px;
    height: 60px;

    border-radius: 10px;
    background: #358B43;

    margin-top: 33px;

    display: flex;
    align-items: center;
}

.userfound-password-button{
    display: flex;
    width: 360px;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.userfound-password-result-detail-container{
    display: flex;
    width: 750px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userfound-password-success-box{
    width: 690px;
    height: 217px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 63px;
    border: 1px solid #358B43;
}

.green-text-name{
    color: #358B43;

}

.userfound-password-success-message{
    display: flex;
    width: 494px;
    height: 42px;
    justify-content: center;

    color: #000;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}