#withdrawal-page-wrapper{
    display: flex;
    width: 1920px;
    height: 1500px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.withdrawal-page-header{
    height: 210px;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.withdrawal-page-logo-box{
    width: 365px;
    height: 120px;
}

.withdrawal-page-logo{
    width: 100%;
    height: 100%;

    background-image: url(assets/Logo.png);
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.withdrawal-page-title-box{
    height: 112px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.withdrawal-page-title{
    color: #000;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 12.5px;
}

.withdrawal-page-container{
    width: 750px;
    height: 578px;

    display: flex;

    flex-direction: column;
    align-items: center;

    border-radius: 10px;
    border: 1px solid #AEAEAE;
    background: #FFF;
}

.withdrawal-page-box{
    display: flex;
    width: 687px;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.withdrawal-page-text-1{
    width: 686px;
    height: 72px;
    
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.withdrawal-page-text-2{
    width: 686px;
    height: 47px;

    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.withdrawal-page-text-tip{
    width: 686px;
    height: 79px;

    color: #AEAEAE;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.withdrawal-page-text-3{
    width: 686px;
    height: 72px;

    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.withdrawal-page-text-4{
    width: 686px;
    height: 47px;

    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.withdrawal-page-text-5{
    width: 686px;
    height: 56px;

    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.withdrawal-button-line{
    width: 650px;
    height: 1px;
    background: #358B43;
}

.withdrawal-page-button-box{
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 322px;
    height: 62px;

    border-radius: 10px;
    background: #358B43;
}

.withdrawal-page-button{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 10px;
}
.green-text {
    color: green;
}



