.lately-recipe-in-center-box {
    width: 236px;
    height: 277px;

    display: flex;
    flex-direction: column;
  }
 
  .lately-recipe-in-center-image {
    width: 236px;
    height: 236px;
  
    background-position: 50% 50%;
    background-size: 100% 100%;

    
    border-radius: 10px;
  }

  .lately-recipe-in-center-image:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .lately-recipe-in-title {
    width: 236px;
    height: 41px;

    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 1);

    font-size: 12px;
    font-weight: 700;
  }
  #chef-lately-recipe-list {
    width: 365px;
    padding-top: 92px;
  
    display: flex;
    flex-direction: column;
  }
  
  .chef-lately-recipe-out {
    width: 365px;
    height: 30px;

    margin-bottom: 26px;

    display: flex;
    align-items: center;
  }
  
  .chef-lately-recipe-out-title {
    color: rgba(0, 0, 0, 1);
    
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
  }
  
  .chef-lately-recipe-in {
    width: 365px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .chef-lately-recipe-top {
    width: 50px;
    height: 50px;

    margin-bottom: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .chef-top-icon {
    width: 50px;
    height: 50px;

    background-position: 50% 50%;
    background-size: 100% 100%;

    background-image: url(assets/윗쪽버튼\ \(1\).png);
  }

  .chef-top-icon:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
  }

  .chef-lately-recipe-bottom {
    width: 50px;
    height: 50px;

    margin-top: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .chef-bottom-icon {
    width: 50px;
    height: 50px;

    background-position: 50% 50%;
    background-size: 100% 100%;

    background-image: url(assets/아래쪽\ 버튼.png);
  }

  .chef-bottom-icon:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
  }

  .chef-lately-recipe-in-center {
    width: 236px;
    height: 882px;

    display: flex;
    gap: 21px;
    flex-direction: column;
    overflow: hidden;
  }