.search-bottom-populer-word-box{
    display: flex;
}
.search-bottom-populer-word-card{
    border-radius: 10px;
    border: 1px solid #AEAEAE;

}
.search-bottom-popular-card-box{
    display: flex;
    flex-direction: column;
}
.search-bottom-popular-card-title{
    color: rgba(0, 0, 0, 1);
    
    font-size: 20px;
    font-weight: 700;
}
.search-bottom-popular-card-contents{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
}
.word-badge{
    border-radius: 30px;
    background: rgba(53, 139, 67, 0.38);
    display: flex;
    font-size: 16px;
    font-weight: 700;
}
.word-badge:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.02);
}
